@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.cineniche-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  background-color: #141414;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100vw;
  max-width: 100%;
  align-items: stretch;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.logo:hover{
  color: #e50914;           
  text-decoration: none; 
}

/* Login Button */
.login-button {
  background-color: #FF2E2E;
  border: none;
  color: white;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #D10026;
}