@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.cineniche-header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* ⬅️ This vertically centers items */
  background-color: #0b0c0f;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.logo:hover{
  color: #e50914;           
  text-decoration: none; 
}

/* Login Button */
.login-button {
  background-color: #FF2E2E;
  border: none;
  color: white;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  font-weight: 700; /* ⬅️ Make it bold */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-items: center;
}

.login-button:hover {
  background-color: #D10026;
}