@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --font-heading: "Oswald", sans-serif;
}

h1, h2, .title {
  font-family: "Oswald", sans-serif;
}

html,
body,
#root,
.app-root {
  min-height: 100vh;
  width: 100%;
  background-color: #141414 !important;
  color: #fff !important;
  font-family: 'Netflix Sans', Arial, sans-serif !important;
  display: block; /* or remove 'display' entirely */
  text-align: center;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

.search-page-wrapper {
  overflow: visible !important;
  position: relative;
}
